VERBOSE=false
# llm
API_KEY=sk-xxxx
BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL_NAME=qwen-plus
TEMPERATURE=0.1
STEAMING=true
# retriever
TEXT_EMBEDDING_API_KEY = sk-xxx
TEXT_EMBEDDING_MODEL_NAME = text-embedding-v4
RETRIEVER_WEB_PATH = https://example.com?query=test
# searcher
SEARCHER_MAX_RESULTS = 2